body {
    background-color: rgb(230,230,230);
    min-width: 250px;
    margin-right: 0.2em;
}

h1 {
    font-size: 1.2em;
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: 0;
}

p {
    margin-left: 1em;
}

.intNavigation {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;
}
/* NOTE VISIBILITY HIDDEN BECAUSE IDK WHAT TO DO IT THE NAV YET */

.internalNavigation__skipLink {
    padding: 0.5em;
    opacity: 0.5;
    color: black;
}

.internalNavigation__skipLink:hover {
    opacity: 1;
    padding-top: 1em;
    transition: 0.45s;
    border-top: 0.45em;
    border-top-style: solid;
    border-color: rgb(0,0,0,0.5);
}

.header {
    margin-top: 0;
}

.header__whoAmI {
    text-align: center;
    font-family: 'Anonymous Pro', sans-serif;
}

.header__whoAmI--myName {
    font-family: 'Allura', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 3.1em;
}

.header__whoAmI--myName--title {
    padding-top: 1em;
}

.header__whoAmI--typeCursor {
    color:black;
    animation:blink .8s ease infinite;
    opacity:0;
}

@keyframes blink {
    100% { opacity:1; }
}

.main__AboutMe {
    max-width: 1000px;
    font-family: 'Anonymous Pro', Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

.main__AboutMe--indent {
    text-indent: 2em;
}

.aside {
    text-align: center;
    font-size: 0.75em;
    font-family: 'Anonymous Pro', Arial, Helvetica, sans-serif;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.footer__extLink img {
    width: 2.1em;
    cursor: pointer;
    filter: grayscale(90%);
    transition: 399ms ease;
}

.footer__extLink img:hover {
    filter: grayscale(0%);
    border-radius: 50%;
    border-bottom: 5px solid rgb(150, 50, 210);
}

@media screen and (min-width: 480px) {
    .footer__extLink img {
        width: 2.7em;
    }
}
